body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	color: #404041;
}
div{
	display: block;
}
ul {
  list-style-type: none;
  list-style: none;
}
.row{
	padding-left: -15;
	padding-right: -15;
}
.container{
	margin-left: 15;
	margin-right: 15;
	padding-left: 15;
	padding-right: 15;
}
#menuBarWrapper{
	width: 100vw;
	position: fixed;
	z-index: 1000;
}
#menuBar{
	width: 100%;
	background:#fff;
	height: 85px;
	border-bottom: 1px solid #f3f3f3;
}
#menuBar a{
	text-decoration: none;
	font: 16px georgia,sans-serif;
	margin-left: 15px;
	color: #404041;
}
a:visited {
	color: #602320;
}
a, a:hover, a:focus{
	color: #602320;
}
#logoWrapper{
	margin-top: 30px;
	margin-left: -15px;
}
#logo{
	display: inline-block;
	position: relative;
	top: -15px;
}
#dropdownTrigger_lg.navbar_toggle{
	position: absolute;
	right: 0;
	top: 0;
	height: 85px;
	background-color: #f3f3f3;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	float: right;
	padding-right: 9px, 10px;
}
#topBarRight{
	float: right;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
}
#menuAdditional{
	list-style-type: none;
	margin: 20px 135px 0 0;
	background:transparent;
}
#menuAdditional li{
	float: left;
	margin: 0;
	background: transparent;
	overflow: hidden;
}
#menuAdditional li svg{
	display: block;
	margin: 10px auto;
	display: table;
}
.menu-additional li>button {
	float: left;
	width: 45px;
	height: 45px;
	overflow: hidden;
	font: 16px georgia,sans-serif;
	background: transparent;
	border:0;
	cursor: pointer;
}
.menu-additional li button#shareBtn {
	width: auto;
	margin-right: 2px;
}
#menuAdditional li a, #menuAdditional li a:hover{
	float: left;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	width: 45px;
	height: 45px;
	vertical-align: top;
	overflow: hidden;
}
#menuBar a, #menuBar a:hover{
	text-decoration: none;
	font: 16px georgia,sans-serif;
	margin-left: 15px;
}
#shareBtn span{
	display: inline-block;
	font-size: 1rem;
	margin: 15px 0 13px 4px;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding:0;
	overflow: hidden;
	border:0;
}
svg:not(:root){
	overflow: hidden;
}
.menuFlyout{
	float: left;
	display: inline-block;
	line-height: 45px;
	padding:0 10px;
	background: #fff;
	width: 225px;
	margin-right: -270px;
	vertical-align: middle;
}
.menuFlyout .selected-territory{
	border-bottom: 1px solid #6d6e71;
	line-height: 1.5;
	margin: 15px 0 0;
	width: 100%;
	cursor: pointer;
	min-height: 22px;
}
.menuFlyout .sh {
	float: right;
	display: inline-block;
	height: 45px;
}
.menuFlyout .sh a{
	width: auto !important;
	display: inline-block !important;
}
button #dropdownTrigger_lg .navbar_toggle{
	width: 135px;
}
.navbar_toggle.icon_bar{
	display: block;
	position: absolute;
	opacity: 1;
	width: 30px;
	height: 3px;
	left: 28px;
	background-color: #3f3f40
	transform:rotate(0);
	transition: .2s;
	border-radius: 1px;
}
#menuBar button.navbar-toggle {
	width: 135px;
	background-color: transparent;
}
.navbar-toggle{
	position: absolute;
	right: 0;
	top: 0;
	height: 85px;
	background-image: none;
	border:0;
	border-radius: 0;
	cursor: pointer;
	float: right;
	display: block;
	margin: 0;
}
.navbar-toggle .icon-bar{
	display: block;
	position: absolute;
	opacity: 1;
	width: 30px;
	height: 3px;
	left: 28px;
	background-color: #3f3f40;
	transform: rotate(0);
}
.navbar-toggle .icon-bar+.icon-bar{
	margin: auto;
}
.navbar-toggle .icon-bar1 {
	top: 34px;
}
.navbar-toggle .icon-bar2{
	top: 42px;
}
.navbar-toggle .icon-bar3{
	top: 50px;
}
.hamburger-title{
	position: absolute;
	top: 32px;
	left: 70px;
	padding-bottom: 1px;
	border-bottom: 2px solid transparent;
	font-size: 16px;
	font-family: Georgia, sans-serif;
}
#breadcrumbWrapper{
	background: #fff;
}
#breadcrumbWrapper .breadcrumb{
	padding-top: 12px;
	padding-bottom: 0;
	color: #968c6d;
	font-weight: normal;
	margin-bottom: 4px;
	font-size: .929rem;
}
ul.breadcrumb.closed{
	white-space: nowrap;
}
ul.breadcrumb{
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}
.breadcrumb{
	background: transparent;
}
ul.breadcrumb li.breadcrumbMenu{
	position: relative;
	float: left;
	margin: -8px 5px -3px -34px;
	background: transparent;
	cursor: pointer;
	padding: 1px;
	z-index: 2;
	border: 0;
}
ul.breadcrumb li{
	opacity: 1;
	overflow: hidden;
	line-height: 1.2em;
}
.breadcrumb li+li:after{
	background:url(https://www.pwc.com/etc/clientlibs/pwc/components-colors/images/slimheader/breadcrumb_arrow.png) 0 0 no-repeat;
	height: 15px;
	content: " ";
	display: inline-block;
	margin:5px 0 0 8px;
	color: #c7c8ca;
	padding: 0;
	width: 8px;
	vertical-align: top;
	padding-left: 10px;
	font-weight: normal;
}
#breadcrumbWrapper ul.breadcrumb li a {
	color: #404041;
	font-size: 13px;
}
.centerImg{
	padding-top: 125px;
	min-height: 100%;
}
.page-primary-col--burgundy .title-strip {
	background: #a32020;
}
.page-primary-col--burgundy .page-section.page-section--col-primary{
	background: #a32020;
}
section.fullwidth .parsys.sectionpar{
	width: 100%;
	padding: 0;
}
.title-strip{
	background: #a32020;
	color: #fff;
	font-family: georgia, sans-serif;
}
.title-strip .title-strip__wrapper{
	padding: 30px 0;
}
h1, .h1{
	font-size: 38px;
	font-weight: bold;
	line-height: 1.3em;
	font-style: italic;
}
.newSection{
	padding-top: 75px;
	padding-bottom: 75px;
}
#news{
	padding-top: 150px;
	padding-bottom: 75px;
	background-color: #f3f3f3;
}

.card-body{
	background: #f3f3f3;
}
.card-body:hover{
	background: #fff;
}
.btn{
	border-radius: 0 !important;
	font-family: Georgia, sans-serif;
	font-style: italic;
}
.newsBtn:hover{
	opacity: 1;
	background-color: #a32020;
	color: #fff;
	border: 0;
}
.Btitle{
	padding-bottom: 50px;
	font-family: Georgia, sans-serif;
	font-style: italic;
}
.card-title{
	font-family: Georgia, sans-serif;
}
.redTitle{
	color: #a32020;
}
.card-img-overlay{
	height: 100%;
	top: auto;
}
/*.card-img-overlay:hover {
	background-color: #e0301e;
	opacity: 0.2;
	font-color:#000000;
}*/
h5.card-title{
	position: absolute;
	bottom: 50px;
	vertical-align: bottom;
	color: #fff;
	/*background-color: rgba(0,255,255,0.2);
	width: 100%;*/
}
.netBtn{
	position: absolute;
	bottom: 10px;
	background-color: #fff;
	color: #404041;
	border: 0;
}
.netBtn:hover{
	background-color: #a32020;
	color: #fff;
	border: 0;
}
.card bg-dark text-white:hover{
	background-color: #e0301e;
}
#rowSnd{
	padding-top: 30px;
}
#serv{
	background-color: #f3f3f3;
}
.cardHolder{
	height: 120px;
	cursor: pointer;
}
.cardHolder:hover{
	background-color: transparent;
	color: #e0301e;
}
.cardHolder p.card-text{
	text-align: center;
	font-family: Georgia, sans-serif;
}
.cardIcon{
	width: 50%;
	height: 50%;
	margin: auto;
	align-content: center;
}
.Icard{
	background-color: transparent;
	align-content: center;
	text-align: center;
	border-radius: none;
	border: none;
}
.netCard{
	border: 0;
}
section.fullwidth .parsys.sectionpar{
	width: 100%;
	padding: 0;
}
.cta-webtile .cta-webtile__link{
	padding: 40px 0;
	display: block;
	color: #fff;
	text-decoration: none;
}
#cta-2 {
    background: #d04a02;
}
.cta-webtile .cta-webtile__link .cta-webtile__icon {
    z-index: 3;
}
.cta-webtile__title{
	font-family: georgia,serif;
}
.cta-webtile__heading{
	font-family: georgia,serif;
    font-style: italic;
	font-weight: bold;
    margin: 0;
    color: #fff;
}
.appSection{
	margin-top: 75px;
	margin-bottom: 75px;
}







@media (max-width: 768px) { 
.card{margin: 10px 0 10px 0}
.netBtn{bottom: 30px}
h5.card-title{bottom: 70px}
.Btitle{padding-left: 30px}
#rowSnd{padding-top: 0;}
.cardIcon{width: 30%;height: 30%;}
#searchBtn{display: none;}
#shareBtn{display: none;}
#territoryBtn{display: none;}
#menuAdditional li a, #menuAdditional li a:hover{display: none;}
.cta-webtile__icon-img{display: none;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-sm{padding-left: 0px; padding-right: 0px}
	.col-md-push-2 {left: 16.66666667%;}
	.cta-webtile__icon-img{display: none;}
    .col-md-7 {width: 83.33333333%;}
}

@media (min-width: 992px){
.col-md-push-2 {left: 16.66666667%;}
.col-md-1 {width: 8.33333333%;}
}

@media (min-width: 1200px) { 
#topBarRight {float:right; right: 100px;}
}


